# Documentation
pdoc3
sphinx
sphinx-rtd-theme
pylint

# for ReadTheDocs local build
graphviz

# GUI
pyqt5

# Crypto
passlib
bcrypt

# MySQL
mysql-connector-python

# Properties
jproperties

# codeformatter
black

# pre-commit
pre-commit
