# Flake8
flake8
flake8-docstrings
flake8-polyfill

# Pylint
pylint

# Documentation
pdoc3
graphviz

# Coverage
coverage

# GUI
pyqt5

#crypto
passlib
bcrypt

#mysql
mysql-connector-python

#properties
jproperties