# Flake8
flake8
flake8-docstrings
flake8-polyfill

# Pylint
pylint

# Documentation
pdoc3
graphviz

# Coverage
coverage

# GUI
pyqt5

# Crypto
passlib
bcrypt

# MySQL
mysql-connector-python

# Properties
jproperties

# codeformatter
black

# pre-commit
pre-commit